<!-- company-sidebar.html -->
<div class="sidebar">
  <div class="sidebar-header">
    <div class="user-section">
      <div class="user-avatar">C</div>
      <div class="user-details">
        <div class="username">Company User</div>
        <div class="user-role">Company Account</div>
      </div>
    </div>
  </div>

  <mat-nav-list class="menu-list">
    <a
      mat-list-item
      *ngFor="let item of menuItems"
      [routerLink]="item.route"
      routerLinkActive="active"
      (click)="onMenuClick(item)"
    >
      <mat-icon matListItemIcon [matBadge]="item.badge" [matBadgeHidden]="!item.badge" matBadgeColor="warn">
        {{ item.icon }}
      </mat-icon>
      <span matListItemTitle>{{ item.label }}</span>
    </a>
  </mat-nav-list>

  <div class="sidebar-footer">
    <a mat-list-item>
      <mat-icon matListItemIcon>help</mat-icon>
      <span matListItemTitle>Help & Support</span>
    </a>
  </div>
</div>
